/* Alap stílusok */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Test és alapvető színek */
body {
    background-color: #f0f4f8;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Header szekció */
header {
    background-color: #283593;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* About szekció */
#about {
    background-color: #fff;
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#about h2 {
    font-size: 2rem;
    color: #283593;
    margin-bottom: 10px;
}

#about p {
    font-size: 1.2rem;
    color: #555;
}

/* Portfolio szekció */
#portfolio {
    padding: 40px 20px;
    background-color: #f9f9f9;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#portfolio h2 {
    font-size: 2rem;
    color: #283593;
    margin-bottom: 20px;
}

#portfolio p {
    font-size: 1.2rem;
    color: #555;
}

.project {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project h3 {
    font-size: 1.5rem;
    color: #283593;
}

.project p {
    font-size: 1rem;
    color: #555;
}

/* Kapcsolat szekció */
#contact {
    padding: 40px 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#contact h2 {
    font-size: 2rem;
    color: #283593;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

form button {
    padding: 15px;
    font-size: 1rem;
    background-color: #283593;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #3949ab;
}

/* Footer szekció */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #283593;
    color: #fff;
    margin-top: 20px;
}

footer p {
    font-size: 1rem;
}
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }
    
    #about, #portfolio, #contact {
        padding: 20px 10px;
    }

    #portfolio {
        max-width: 100%;
    }
    
    form input, form textarea {
        font-size: 0.9rem;
    }
    
    form button {
        font-size: 0.9rem;
    }
}
